{{#partial "content"}}
   <h3 style="color:white;">Department news!</h3>
           <form action="/deptNews/new" method="post">
               <div class="form-group">
                   <label style="color:white;" for="title">Post title:</label><br>
                   <input class="form-control" id="title" name="title" type="text"><br>
               </div>
               <div class="form-group">
                   <label style="color:white;" for="content">Post content:</label><br>
                   <textarea class="form-control" id="content" name="content" rows="4" type="text"></textarea><br>
               </div>
               <div class="form-group">
                    <label style="color:white;" for="dName">Department name:</label><br>
                    <select class="form-control" name="dName">
                        {{#each departments}}
                            <option>{{dName}}</option>
                        {{/each}}
                    </select>
               </div>
               <div class="form-group">
                   <button type="submit" class="btn btn-dark">POST</button>
               </div>
           </form>
{{/partial}}
<style>
    body{
        background-image: url("https://www.dcmmoguls.com/wp-content/uploads/2016/09/3D-Background-Images-For-Websites-1920x1080.jpg");
        background-repeat: no-repeat;
        background-size:cover;
    }
</style>
{{> layout.hbs}}
