{{#partial "content"}}
    <h3>Add a new User!</h3>
        <form action="/user/new" method="post">
            <div class="form-group">
                <label for="fName">First name:</label><br>
                <input class="form-control" id="fName" name="fName" type="text"><br>
            </div>
            <div class="form-group">
                <label for="sName">Second name:</label><br>
                <input class="form-control" id="sName" name="sName" type="text"><br>
            </div>
            <div class="form-group">
                <label for="position">Position:</label><br>
                <input class="form-control" id="position" name="position" type="text"><br>
            </div>
            <div class="form-group">
                <label for="department">Department name:</label><br>
                <select class="form-control" name="department">
                    {{#each departments}}
                        <option>{{dName}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-dark">ADD</button>
            </div>
        </form>
{{/partial}}
<style>
    body{
        background-image: url("http://www.gsfdcy.com/data/img/20/1338105-company-wallpaper.jpg");
        background-repeat: no-repeat;
        background-size:cover;
    }
</style>
{{> layout.hbs}}