{{#partial "content"}}
<h1 style="text-align:center;">SUCCESS</h1>
{{/partial}}
<style>
    body{
        background-image: url("https://thumbs.gfycat.com/FloweryHandsomeCuckoo-small.gif");
        background-repeat: no-repeat;
        background-size:cover;
    }
</style>
{{> layout.hbs}}